In [11]:
import pandas as pd

In [14]:
flights_data = pd.read_csv('flights.csv')

In [13]:
flights_data.shape

(336776, 21)

In [15]:
flights_data.head()

,id,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,...,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,name
0,0,2013,1,1,517.0,515,2.0,830.0,819,11.0,...,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00,United Air Lines Inc.
1,1,2013,1,1,533.0,529,4.0,850.0,830,20.0,...,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00,United Air Lines Inc.
2,2,2013,1,1,542.0,540,2.0,923.0,850,33.0,...,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00,American Airlines Inc.
3,3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,...,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00,JetBlue Airways
4,4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,...,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00,Delta Air Lines Inc.

In [17]:
flights_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336776 entries, 0 to 336775
Data columns (total 21 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              336776 non-null  int64
 1   year            336776 non-null  int64
 2   month           336776 non-null  int64
 3   day             336776 non-null  int64
 4   dep_time        328521 non-null  float64
 5   sched_dep_time  336776 non-null  int64
 6   dep_delay       328521 non-null  float64
 7   arr_time        328063 non-null  float64
 8   sched_arr_time  336776 non-null  int64
 9   arr_delay       327346 non-null  float64
 10  carrier         336776 non-null  object
 11  flight          336776 non-null  int64
 12  tailnum         334264 non-null  object
 13  origin          336776 non-null  object
 14  dest            336776 non-null  object
 15  air_time        327346 non-null  float64
 16  distance        336776 non-null  int64
 17  hour            336776 non-null  int64
 18  minute          336776 non-null  int64
 19  time_hour       336776 non-null  object
 20  name            336776 non-null  object
dtypes: float64(5), int64(10), object(6)
memory usage: 54.0+ MB

In [18]:
flights_data.origin.unique()

array(['EWR', 'LGA', 'JFK'], dtype=object)

In [22]:
data_X = flights_data[['month', 'dep_delay', 'origin']]

In [23]:
data_X.head()

   month  dep_delay origin
0      1        2.0    EWR
1      1        4.0    LGA
2      1        2.0    JFK
3      1       -1.0    JFK
4      1       -6.0    LGA

In [24]:
data_X = pd.get_dummies(data_X)

In [25]:
data_X.head()

   month  dep_delay  origin_EWR  origin_JFK  origin_LGA
0      1        2.0           1           0           0
1      1        4.0           0           0           1
2      1        2.0           0           1           0
3      1       -1.0           0           1           0
4      1       -6.0           0           0           1

In [30]:
data_X['dep_delay'] = data_X['dep_delay'].fillna(0)

In [31]:
data_X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336776 entries, 0 to 336775
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   month       336776 non-null  int64
 1   dep_delay   336776 non-null  float64
 2   origin_EWR  336776 non-null  uint8
 3   origin_JFK  336776 non-null  uint8
 4   origin_LGA  336776 non-null  uint8
dtypes: float64(1), int64(1), uint8(3)
memory usage: 6.1 MB

In [32]:
data_X['dep_delay'] = data_X['dep_delay'].astype(int)

In [33]:
data_X.head()

   month  dep_delay  origin_EWR  origin_JFK  origin_LGA
0      1          2           1           0           0
1      1          4           0           0           1
2      1          2           0           1           0
3      1         -1           0           1           0
4      1         -6           0           0           1