In [1]:
# https://www.kaggle.com/code/farisai/predict-videogames-sales

In [24]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [3]:
df = pd.read_csv('vgsales.csv')

In [4]:
df.shape

(16598, 11)

In [5]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [7]:
number = LabelEncoder()
df['Platform'] = number.fit_transform(df['Platform'].astype('str'))

In [8]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,26,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,11,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,26,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,26,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,5,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [9]:
df.Platform.unique()

array([26, 11,  5,  4, 28, 17, 16, 23,  6,  2, 18, 10, 15, 29, 13,  0, 19,
       30,  7, 27,  8,  3, 20, 21, 22, 25, 12, 24,  1,  9, 14])

In [10]:
x_data = df[['Platform', 'EU_Sales', 'NA_Sales']]

In [11]:
y_data = df['Global_Sales']

In [27]:
x_data['EU_Sales'] = x_data['EU_Sales'] * 100
x_data['NA_Sales'] = x_data['NA_Sales'] * 100
y_data = y_data * 100

/var/folders/3q/c3scs9pj6jddvd8kr62_g0280000gn/T/ipykernel_2996/3571879508.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_data['EU_Sales'] = x_data['EU_Sales'] * 100
/var/folders/3q/c3scs9pj6jddvd8kr62_g0280000gn/T/ipykernel_2996/3571879508.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_data['NA_Sales'] = x_data['NA_Sales'] * 100

In [28]:
x_data['EU_Sales'] = x_data['EU_Sales'].apply(np.int64)
x_data['NA_Sales'] = x_data['NA_Sales'].apply(np.int64)
y_data = y_data.apply(np.int64)

/var/folders/3q/c3scs9pj6jddvd8kr62_g0280000gn/T/ipykernel_2996/2525078222.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_data['EU_Sales'] = x_data['EU_Sales'].apply(np.int64)
/var/folders/3q/c3scs9pj6jddvd8kr62_g0280000gn/T/ipykernel_2996/2525078222.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_data['NA_Sales'] = x_data['NA_Sales'].apply(np.int64)

In [26]:
x_data['EU_Sales']

0        2902
1         358
2        1288
3        1101
4         889
         ...
16593       0
16594       0
16595       0
16596       1
16597       0
Name: EU_Sales, Length: 16598, dtype: int64

In [29]:
x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.20)

In [30]:
x_train.shape

(13278, 3)

In [31]:
x_train.describe()

           Platform       EU_Sales      NA_Sales
count  13278.000000   13278.000000  13278.000000
mean      15.765853    1466.335291     26.502259
std        8.382694    5184.878244     85.450164
min        0.000000       0.000000      0.000000
25%        7.000000       0.000000      0.000000
50%       16.000000     200.000000      8.000000
75%       21.000000    1100.000000     24.000000
max       30.000000  290200.000000   4149.000000

In [32]:
x_test.shape

(3320, 3)

In [33]:
model = RandomForestClassifier(n_estimators=150, max_depth=4, random_state=25)

In [34]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13278 entries, 5562 to 13597
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Platform  13278 non-null  int64
 1   EU_Sales  13278 non-null  int64
 2   NA_Sales  13278 non-null  int64
dtypes: int64(3)
memory usage: 414.9 KB

In [35]:
y_train.info()

<class 'pandas.core.series.Series'>
Index: 13278 entries, 5562 to 13597
Series name: Global_Sales
Non-Null Count  Dtype
--------------  -----
13278 non-null  int64
dtypes: int64(1)
memory usage: 207.5 KB

In [36]:
model.fit(x_train, y_train)

RandomForestClassifier(max_depth=4, n_estimators=150, random_state=25)

In [37]:
prediction = model.predict(x_test)

In [38]:
prediction

array([56, 56,  9, ..., 56, 56,  2])

In [39]:
y_test

2739      75
1460     134
11578      8
3252      62
3970      50
        ...
7866      19
6669      25
406      332
2370      88
2592      80
Name: Global_Sales, Length: 3320, dtype: int64

In [40]:
# Everything went wrong. Maybe try LinearRegression